
/* Matches hovered containers */
[data-contains]:hover,
/* Following rule matches columns */
[data-contains]:hover > [data-contains] {
  outline: 1px red dotted;
}
.layout-item:hover {
  outline: 1px green dotted;
}

/*
*:hover > .layout-menu > a {
  opacity: 1;
}
.layout-menu {
  position: absolute;
  top: 0;
  left: 0;
}
.layout-menu > a {
  opacity: .1;
  position: relative;
  padding: 5px;
  border-radius: 50%;
  background-clip: padding-box;
  z-index: 1100;
  background-color: #222 !important;
  color: #ccc !important;
  font-size: 14px;
}
.layout-menu > a > .glyphicon {
  top: 2px;
}
 */

.layout-menu:hover > a {
  opacity: 1;
  color: #5a5a5a;
  text-decoration: none;
}
.layout-menu {
  position: relative;
}
.layout-menu > a {
  display: block;
  text-align: center;
  opacity: .3;
  position: relative;
  padding: 5px;
  z-index: 1100;
  color: #5a5a5a;
  font-size: 14px;
  text-decoration: none;
}
.layout-menu > a > .glyphicon {
  top: 2px;
}

.layout-menu > a:focus {
  outline: 0;
}
.layout-menu > ul {
  z-index: 1101;
  position: absolute;
  top: 120%;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.layout-menu > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 2em;
  white-space: nowrap;
  cursor: pointer;
  color: #5a5a5a;
}
.layout-menu > ul > li > a:hover {
  text-decoration: none;
}

/* Just for fun */
.layout-menu > ul:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  z-index: 1103;
}
.layout-menu > ul:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 13px 13px;
  border-color: transparent transparent #e4e4e4 transparent;
  z-index: 1102;
}
