
/* Matches hovered containers */
[data-contains]:hover,
/* Following rule matches columns */
[data-contains]:hover > [data-contains] {
  outline: 1px red dotted;
}
[data-item]:hover {
  outline: 1px green dotted;
}
[data-contains].droppable {
  min-height: 100px !important;
}

/* Disable all links within items, even thought we have JS for that */
[data-item] div:not(.layout-menu) a {
   pointer-events: none;
   cursor: default;
}

/* When in edit mode, force menu to NOT be movable also ensures that all
 * containers have a minimum size to drop more easily */
[data-contains], [data-id] {
  position: relative;
  padding-top: 32px;
}
[data-contains] > .layout-menu, [data-id] > .layout-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* Collapse behaviour */
[data-contains].collapsed, [data-id].collapsed {
  border-bottom: 2px dashed #e4e4e4;
}
[data-contains].collapsed > *:not(.layout-menu), [data-id].collapsed > *:not(.layout-menu) {
  display: none;
  visibility: hidden;
}

.layout-menu:hover > a {
  opacity: 1;
  color: #5a5a5a;
  text-decoration: none;
}
.layout-menu {
  position: relative;
}
.layout-menu > a {
  display: block;
  text-align: center;
  opacity: .3;
  position: relative;
  padding: 5px;
  z-index: 1100;
  color: #5a5a5a;
  font-size: 14px;
  text-decoration: none;
}
.layout-menu a.disabled {
   pointer-events: none;
   cursor: default;
   color: #b4b4b4;
}
.layout-menu > a > .glyphicon {
  top: 2px;
}

.layout-menu > a:focus {
  outline: 0;
}
.layout-menu > ul {
  z-index: 1101;
  position: absolute;
  top: 120%;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  background-color: white;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.layout-menu > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 2em;
  white-space: nowrap;
  cursor: pointer;
  color: #5a5a5a;
}
.layout-menu > ul > li > a:hover {
  text-decoration: none;
}

/* Just for fun */
.layout-menu > ul:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  z-index: 1103;
}
.layout-menu > ul:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 13px 13px;
  border-color: transparent transparent #e4e4e4 transparent;
  z-index: 1102;
}

/* Copy/paste of Dragula's CSS to avoid loading it all */
.gu-mirror {
  /* position: fixed !important; @todo removed this, it makes it all buggy */
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
